[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-apispec = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
marshmallow = "*"
pyjwt = "*"
siwe = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
